@import "~materialize-css/dist/css/materialize.min.css";


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
  color: #ffffff!important;
}

input.yellow-input:focus + label {
  color: #ffeb3b!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}

.icon{
  cursor: pointer;
}

.mt-5{
  margin-top: 5rem;
}

.promo{
  padding: 0;
  font-family: "Oswald";
  font-size: 38px;
  color: rgba(27,38,49);
  line-height: 2em;
  margin-left: 2rem;
}

.navigation{
  margin-right: 2rem;
  font-family: "Montserrat","Arial", sans-serif;
  
}

table{
  margin: 0;
  border-top: 5px solid  #ff8a65;
  border-bottom: 5px solid  #ff8a65;
  max-width: 100%;
  height: auto;
  margin-left: -11rem;
  
}

table td{
  padding: 2rem;
}

table th{
  padding: 2rem;
  font-size: 16px;
  border-radius: 0%;
}

.ml-2{
 margin-left: -1rem; 
}
/* 
h2{
  text-align: center;
} */


